<div {{bindAttr class="view.playersTurn:playersTurn view.player.seatName :player"}}>
	<div class="badge">
		{{view.player.name}}
		round: {{ view.player.roundPoints }}
		game: {{ view.player.gamePoints }}
		{{#if view.player.passed}} passed {{/if}}
	</div>
	{{view HandView handBinding="view.player.hand" playerBinding="view.player" playersBinding="view.players"}}
</div>
